<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>What would you like to change?</h1>
  <form action="/skills/<%= skill._id %>?_method=PUT" method="POST">
    <input value="<%= skill.skill %>" name="skill" placeholder="Skill" style= "text-align: center" type="text">
    <input value="<%= skill.level %>" name="level" placeholder="Level" style= "text-align: center" type="number">
    <button type=" submit">Save your change</button>
  </form>
</body>
</html>