<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Individual Skill</h1>
  <h2>Level <%= skill.level %></h3>
  <h3><%= skill.skill %></h2>
    <a href="/skills/<%= skill._id %>/edit"><button>Edit Skill</button></a>
    <br>
    <br>
    <a href="/skills">Back to Skills</a>
</body>
</html>